aiodns==3.0.0
aiohttp==3.8.3
aiosignal==1.3.1
ansicon==1.89.0
async-timeout==4.0.2
attrs==22.1.0
blessed==1.19.1
Brotli==1.0.9
cffi==1.15.1
charset-normalizer==3.0.1
git+https://github.com/dolfies/discord.py-self@cbc5d706c2a2954a01b8c5444c431e0fc076dd50
enlighten==1.11.1
frozenlist==1.3.3
gitdb==4.0.9
GitPython==3.1.29
idna==3.4
jinxed==1.2.0
multidict==6.0.2
prefixed==0.4.2
pycares==4.2.2
pycparser==2.21
pypresence==4.2.1
six==1.16.0
smmap==5.0.0
wcwidth==0.2.5
yarl==1.8.1
